
@font-face {
  font-family: "Daughter_handwriting";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Daughter_handwriting.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "continuous";
  src: url(./continuous.otf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --wine: #a01313;
  --red: #c00909;
  --deepDark: #7e6569;
}

* {
  padding: 0;
  margin: 0;

}

body {
  width: 100%;
  height: auto;
  /* background-color: black; */

  user-select: none;
}

.header {
  width: 100%;
  height: 15%;
  line-height: 12vh;
  text-align: center;
  font-size: 6vw;
  background-color: transparent;
}


.header a {
  text-decoration: none;
}

.title {
  font-family: "continuous";
  font-weight: 900;
  font-size: 8vw;
  margin: 50px;
  filter: url(#goo);
  position: relative;
  letter-spacing: -0em;
  color: red;
}

.title:nth-child(1) {
  color: red;
}

.a {
  color: red;
}

.drop {
  width: 0.1em;
  height: 0.1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 72%;
  animation: drop 3s infinite both;

}

&:nth-child(1) {
  color: red;
  left: 24.5%;
}

&:nth-child(2) {
  left: 42%;
  animation-delay: -0.4s;
}

&:nth-child(3) {
  left: 55%;
  animation-delay: -1.5s;
}

&:nth-child(4) {
  left: 82%;
  animation-delay: -0.8s;
}

&:nth-child(5) {
  left: 95.5%;
  animation-delay: -1.3s;

}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-out;
  }

  60% {
    transform: translateY(120%) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-in;
  }

  80%,
  100% {
    transform: translateY(60vh) scaleX(0.85) rotate(45deg);
  }
}

.movie_search {
  width: 100%;
  border-bottom: 1px solid white;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_search input {
  width: 20vw;
  height: 5vh;
  margin-right: 1vw;
}

.search_button {
  font-size: 1vw;
  padding: 0.5% 1.8%;
}

.content {
  display: grid;
  width: 95%;
  margin: 4vh auto;
  grid-template-columns: repeat(auto-fill, minmax(20vw, auto));
  gap: 10px 20px;
}

.card {
  display: flex;
  margin: 2rem 0;
  justify-content: space-around;
  transform-style: preserve-3d;
  perspective: 1000;
}
.card:hover {
  cursor: url(../img/skeleton-cursor.png) 20 30, auto;
  caret-color: white;
}

.poster_img {
  transform: rotateY(0deg);
  z-index: 2;
  opacity: 1;
}

.back_part {
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  justify-content: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  /* background-color: blue; */
  width: 75%;
  height: 98%;
  line-height: 10vh;
}

.card:hover .poster_img {
  z-index: 1;
  opacity: 0;
  /* transform: rotateY(180deg); */
}
.card:hover .back_part {
  z-index: 2;
  opacity: 0.7;
  transform: translateZ(180px);
}

.poster_img,
.back_part {
  backface-visibility: hidden;
  transition: all 1s;
}

.movie_title {
  font-weight: bold;
}
.average {
  width: 40%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.average .water {
  color: var(--red);
}

/* 모달 CSS */
.modal {
  font-family: "Daughter_handwriting", sans-serif;
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.movieInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 1;
}

.movieTitle {
  font-size: 100px;
}

.movieOverview {
  font-size: 30px;
}

.movieVoteAverage {
  font-size: 50px;
}

.modalButton {
  font-family: "Daughter_handwriting", sans-serif;
  background-color: #888;
  position: absolute;
  font-size: 35px;
  bottom: 10px;
  right: 10px;
  width: 90px;
  height: 45px;
}

.modalContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fefefe;
  margin: 2% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 1180px;
  max-height: 805px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body.scroll {
  overflow: hidden;
}
/* 모달 CSS 여기까지 */

