@font-face {
  font-family: "Daughter_handwriting";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Daughter_handwriting.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "continuous";
  src: url(./continuous.otf);
  font-weight: normal;
  font-style: normal;
}

/* 헤더 부분 */
:root {
  --wine: #a01313;
  --red: #c00909;
}

@font-face {
  font-family: "Daughter_handwriting";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Daughter_handwriting.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "continuous";
  src: url(./continuous.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  cursor: url(../img/skeleton-cursor.png) 20 30, auto;
  caret-color: white;
}

body {
  background: linear-gradient(0deg, var(--wine) 0%, rgba(0, 0, 0, 1) 11%);
  color: white;
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: 10%;
  line-height: 12vh;
  text-align: center;
  font-size: 6vw;
  background-color: transparent;
}

.title {
  font-family: "continuous";
  font-weight: 900;
  font-size: 8vw;
  margin: 50px;
  filter: url(#goo);
  position: relative;
  letter-spacing: -0em;
  color: red;
}

.title:nth-child(1) {
  color: red;
}

.a {
  color: red;
}

.drop {
  width: 0.1em;
  height: 0.1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 72%;
  animation: drop 3s infinite both;

  &:nth-child(1) {
    left: 24.5%;
  }

  &:nth-child(2) {
    left: 42%;
    animation-delay: -0.4s;
  }

  &:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
  }

  &:nth-child(4) {
    left: 82%;
    animation-delay: -0.8s;
  }

  &:nth-child(5) {
    left: 95.5%;
    animation-delay: -1.3s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-out;
  }

  60% {
    transform: translateY(120%) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-in;
  }

  80%,
  100% {
    transform: translateY(60vh) scaleX(0.85) rotate(45deg);
  }
}

/* 헤더 부분 끝 */

.modalContent2 {
  font-family: "Daughter_handwriting";
  font-size: 30px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fefefe;
  margin: 2% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 1180px;
  max-height: 805px;
  position: relative;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 1;
}

.movieTitle {
  font-family: "continuous";
  font-size: 100px;
}

.movieOverview {
  margin: 30px 0 20px 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  font-size: 35px;
}

.movieVoteAverage {
  font-size: 30px;
}

.movieDirector {
  margin-top: 10px;
}

.movieActor {
  margin-top: 10px;
}

.movieReleaseDate {
  display: flex;
  justify-content: end;
  margin-right: 15px;

}

.actorName {
  margin-left: 70px;
}

/* 리뷰 페이지 */

.main {
  margin: 50px;
}

.review {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
}

.posterSection {
  border: yellow solid 3px;
  background-color: #a01313;
  width: 35%;
  height: 150px;
  margin: 20px;
  padding: 20px;
}

.infoSection {
  border: yellow solid 3px;
  background-color: #a01313;
  width: 60%;
  height: 150px;
  margin: 20px;
  padding: 20px;
}

#postingBtn {
  font-size: 1vw;

  background: none;
  color: white;
  border: 1px solid white;
  /* border-radius: 10px; */

  align-items: center;
  justify-content: center;
  display: flex;
}

#postingBtn:hover {
  font-size: 1vw;

  background: none;
  color: white;
  border: 1px solid white;
  /* border-radius: 10px; */

  align-items: center;
  justify-content: center;
  display: flex;

  cursor: url(../img/skeleton-cursor.png) 20 30, auto;
  caret-color: white;

}

.commentList {
  border: 1px solid white;

}

.userComment {
  position: relative;
  margin: 5px;
  border: 1px solid white;
}

/* 리뷰 페이지 끝 */

/* 리뷰 페이지_ 영화 이미지 불러오는 곳 */

.review {
  max-width: 1000px;
  margin: 0 auto;
  height: 300px;
}

/* 리뷰 페이지_ 닉네임 아이디 패스워드 + 댓글 등록 부분 */

.commentContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.commentForm {
  border: 1px white solid;
}

.commentNickPwRating {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.commentUp textarea {
  resize: none;
  width: 100%;
  height: 100px;
}

.commentUp #postingBtn {
  display: flex;
  margin: 0 auto;
  width: 10%;
  height: 40px;
  border-radius: 20px ;
}

/* .search_button {
  font-size: 1vw;
  padding: 0.8% 2%;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.search_button:active {
  font-size: 1.1vw;
}
 */


.commentUp #postingBtn .inner {
  align-items: center;
}

.delArea {
  display: flex;
  justify-content: space-between;
}

.commentList {
  width: 100%;
}

.commentLi {
  width: 100%;
}

/* 탑 버튼 */

.top_button {
  font-family: "Daughter_handwriting";
  font-weight: bold;
  position: fixed;
  bottom: 4vh;
  width: 9vw;
  height: 15vh;
  right: 4vw;
  font-size: 6vw;
  background: white;
  border-radius: 50%;
  padding-bottom: 16vh;
}

.top_button:active {
  background-color: var(--wine);
}

/* 푸터 */

/* footer */
footer {
  display: flex;
  border-top: 1px solid white;
  color: white;
  width: 98vw;
  height: 15vh;
  margin-top: 14vh;
}

footer ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-end;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  footer {
    height: 20vh;
  }

  footer ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

footer ul li {
  padding: 2vh 0;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8vw;
}

footer ul li:nth-child(1) {
  border-left: 1px solid black;
}

.member_name {
  font-size: 1.4vw;
  margin-bottom: 1vh;
}